ul.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  list-style: none;
  margin: 0;
  background-image: url("https://cdn.discordapp.com/attachments/1169328578379387000/1171868618099806228/banner.png");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  border: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

ul.navbar li {
  margin-right: 20px;
}

ul.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.profile-dropdown {
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: rgb(49, 47, 49);
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  margin: 5px 0;
}

.profile-dropdown button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-upload {
  background-color: rgb(112, 159, 155);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  margin-right: 1500px;
}

.nav-upload:hover {
  background-color: #149e5d;
}
